<h1><%= t('common.new_title', name: Book.model_name.human) %></h1>
<%= render "form", book: @book %>
<br>
<nav class="page-nav">
  <%= link_to t('common.back', name: Book.model_name.human), books_path %>
</nav>
